@import "https://fonts.googleapis.com/css2?family=Ranchers&display=swap" h1 {
  
  
  #my-title,
  #my-title strong{
    color: gray;
  }
  .title{
    color: red;
  }
  body h1{
    color: blue !important;
  }
  *{
    color: green;
  }
